
/* Your CSS Code here. */
.holder{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between; 
  gap: 1px; 
}
.item{
  flex: 1 1 auto;
  flex-flow:row;
  text-align: center;
  padding: 20px;
  background-color: lightblue;
}
